<template>
  <div class="filter-block">
    <div class="filter-block__head">
      <p class="filter-block__title">Опции тарифа</p>
      <button
        class="filter-block__button-drop-filters tooltip"
        v-if="selection.length"
        @click="clearSelection"
      >
        <i class="i-drop-filters"></i>
        <span class="tooltiptext">Сбросить выбор</span>
      </button>
    </div>
    <ul class="filter-block__options">
      <li class="filter-block__option" v-if="hasSelectAll">
        <label
          class="filter-block__label-checkbox label-checkbox label-checkbox--inline"
        >
          <input
            v-model="selectAll"
            type="checkbox"
            class="label-checkbox__checkbox-input"
          />
          <span class="label-checkbox__checkbox"></span>
          <span class="label-checkbox__text">Все</span></label
        >
      </li>
      <li
        class="filter-block__option"
        v-for="option in options"
        :key="option.value"
      >
        <label
          class="filter-block__label-checkbox label-checkbox label-checkbox--inline"
        >
          <input
            v-model="selection"
            :value="option.value"
            type="checkbox"
            class="label-checkbox__checkbox-input"
          />
          <span class="label-checkbox__checkbox"></span>
          <span class="label-checkbox__text">{{ option.title }}</span></label
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "FilterBlock",

  props: ["options", "hasSelectAll"],

  data: () => ({
    selectAll: false,
    selection: []
  }),

  watch: {
    selectAll() {
      if (this.selectAll) {
        this.selection = this.options.map((option) => option.value);
      } else if (this.selection.length === this.options.length) {
        this.selection = [];
      }
    },
    selection() {
      this.$emit("changeSelection", this.selection);

      this.selectAll = this.selection.length === this.options.length;
    }
  },

  methods: {
    clearSelection() {
      if (this.hasSelectAll) {
        this.selectAll = true;
      } else {
        this.selection = [];
      }
    }
  },

  mounted() {
    this.selectAll = !!this.hasSelectAll;
  }
};
</script>

<style lang="scss">
.filter-block {
  width: 100%;
  border-radius: 4px;
  background-color: $dark-200;
  color: $dark-950;
  padding-bottom: 12px;

  &__head {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
  }

  &__button-drop-filters {
    cursor: pointer;
    outline: none;
    color: $dark-500;
    transition: 0.15s linear;

    &:hover {
      color: $blue-400;
    }
  }

  &__option {
    font-size: 12px;
    font-weight: 500;
  }

  &__label-checkbox {
    width: 100%;
    padding: 12px;
  }
}
</style>
