<template>
  <div class="flight">
    <div class="flight__body">
      <div class="flight__primary-info">
        <div class="flight__company">
          <img
            :src="
              `https://aviata.kz/static/airline-logos/80x80/${airlineCode}.png`
            "
            alt="logo"
            class="flight__company-icon"
          />
          <p class="flight__company-title">
            {{ airlineTitle }}
          </p>
        </div>
        <div class="flight__timing">
          <div class="flight__date-time">
            <p class="flight__date">
              {{ normalizedDepDate | dateTime("date") }}
            </p>
            <p class="flight__time">
              {{ normalizedDepDate | dateTime("time") }}
            </p>
          </div>

          <div class="flight__time-line time-line">
            <div class="time-line__info">
              <small class="time-line__code">
                {{ depCode }}
              </small>

              <p class="time-line__duration">{{ normalizedTravelTime }}</p>

              <small class="time-line__code">
                {{ arrCode }}
              </small>
            </div>

            <div class="time-line__range">
              <div class="time-line__dot" style="left: 0"></div>
              <div class="time-line__dot" style="left: 50%"></div>
              <div class="time-line__dot" style="left: 100%"></div>
            </div>

            <!-- <p class="time-line__transfer-info">через Шымкент, 1 ч 50 м</p> -->
          </div>

          <div class="flight__date-time">
            <p class="flight__date">
              {{ normalizedArrDate | dateTime("date") }}
            </p>
            <p class="flight__time">
              {{ normalizedArrDate | dateTime("time") }}
            </p>
          </div>
        </div>
      </div>
      <div class="flight__additional-info">
        <div class="flight__links">
          <a href="#" class="flight__link--margin-right link link--dashed"
            >Детали перелета</a
          >
          <a href="#" class="link link--dashed">Условия тарифа</a>
        </div>
        <div class="flight__return-info flight__return-info--no-return">
          <a
            v-if="isRefundable"
            href="#"
            class="flight__link--margin-right link link--dashed"
            >Правила возврата и обмена</a
          >
          <template v-else>
            <i class="flight__return-icon i-no-return"></i>
            <p>невозвратный</p>
          </template>
        </div>
      </div>
    </div>
    <div class="flight__aside">
      <p class="flight__price">{{ price | currency }}</p>
      <button class="flight__choose-btn button button--md button--green">
        Выбрать
      </button>
      <p class="flight__price-comment">Цена за всех пассажиров</p>
      <div class="flight__luggage">
        <p class="flight__luggage-info">Нет багажа</p>
        <button class="button button--sm button--blue">+ Добавить багаж</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Flight",

  props: [
    "airlineCode",
    "airlineTitle",
    "depDate",
    "arrDate",
    "price",
    "travelTime",
    "depCode",
    "arrCode",
    "isRefundable"
  ],

  computed: {
    normalizedDepDate() {
      return new Date(this.depDate);
    },

    normalizedArrDate() {
      return new Date(this.arrDate);
    },

    normalizedTravelTime() {
      const days = parseInt(this.travelTime / 60 / 60 / 24);
      const hours = parseInt((this.travelTime / 60 / 60) % 24);
      const minutes = parseInt((this.travelTime / 60) % 60);

      let time = "";

      if (days) time += days + " д ";
      if (hours) time += hours + " ч ";
      if (minutes) time += minutes + " м ";

      return time;
    }
  }
};
</script>

<style lang="scss">
.flight {
  height: 168px;
  border-radius: 4px;
  background-color: $dark-0;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  display: flex;

  // Body
  &__body {
    flex: 1;
    padding: 40px 0 16px 44px;
    display: flex;
    flex-direction: column;
  }

  &__primary-info {
    display: flex;
    align-items: center;
  }

  &__company {
    display: flex;
    align-items: center;
    width: 127px;
  }

  &__company-icon {
    margin-right: 7px;
    height: 20px;
  }

  &__company-title {
    font-weight: 600;
    font-size: 14px;
  }

  &__timing {
    display: flex;
    width: 365px;
  }

  &__date-time {
    .flight__date {
      font-size: 12px;
      line-height: 12px;
    }

    .flight__time {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__time-line {
    width: 172px;
    margin: 0 22px;
  }

  &__additional-info {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
  }

  &__links {
    margin-right: 47px;
  }

  &__link--margin-right {
    margin-right: 24px;
  }

  &__return-info {
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;

    &--no-return {
      color: $dark-600;
    }

    .flight__return-icon {
      font-size: 16px;
      margin-right: 7px;
    }
  }

  // Aside
  &__aside {
    width: 240px;
    background-color: $dark-200;
    padding: 12px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__price {
    font-size: 24px;
    line-height: 28px;
  }

  &__choose-btn {
    margin-top: 12px;
  }

  &__price-comment {
    margin-top: 8px;
    font-size: 12px;
    color: $dark-600;
  }

  &__luggage {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__luggage-info {
    font-size: 12px;
  }
}

.time-line {
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 12px;
  }

  &__code {
    font-size: 10px;
    color: $dark-500;
  }

  &__duration {
    font-size: 12px;
  }

  &__range {
    margin-top: 8px;
    width: 100%;
    height: 1px;
    background-color: $dark-500;
    position: relative;
  }

  &__dot {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 1px solid $dark-500;
    background-color: $dark-0;

    position: absolute;
    top: -2px;
  }

  &__transfer-info {
    margin-top: 2px;
    color: $orange-800;
    font-size: 12px;
    text-align: center;
  }
}
</style>
