@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ujphaw');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ujphaw#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ujphaw') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ujphaw') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ujphaw##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-drop-filters {
  &:before {
    content: $i-drop-filters; 
  }
}
.i-no-return {
  &:before {
    content: $i-no-return;     
    color: #707276;
  }
}
.i-equalizer {
  &:before {
    content: $i-equalizer; 
  }
}
.i-alarm {
  &:before {
    content: $i-alarm; 
  }
}

