<template>
  <div id="app">
    <div class="page">
      <header class="header">
        <h1>Header</h1>
      </header>

      <div class="container">
        <div class="content">
          <aside class="content__aside aside">
            <FilterBlock
              class="aside__filter-block"
              ref="rateOptionsFliter"
              :options="rateOptions"
              @changeSelection="(s) => (selectedRateOptions = s)"
            />

            <FilterBlock
              class="aside__filter-block"
              ref="airlinesFliter"
              :options="airlines"
              :hasSelectAll="true"
              @changeSelection="(s) => (selectedAirlines = s)"
            />

            <a
              href="#"
              class="aside__link link link--dashed"
              @click.prevent="clearFilters"
            >
              Сбросить все фильтры
            </a>
          </aside>

          <main class="content__main main">
            <Flight
              class="main__flight"
              v-for="flightData in filteredFlights"
              :key="flightData.id"
              :airlineCode="flightData.validating_carrier"
              :airlineTitle="
                searchResult.airlines[flightData.validating_carrier]
              "
              :depDate="flightData.itineraries[0][0].dep_date"
              :arrDate="flightData.itineraries[0][0].arr_date"
              :price="flightData.price"
              :travelTime="flightData.itineraries[0][0].traveltime"
              :depCode="flightData.itineraries[0][0].segments[0].origin_code"
              :arrCode="
                flightData.itineraries[0][0].segments[
                  flightData.itineraries[0][0].segments.length - 1
                ].dest_code
              "
              :isRefundable="flightData.refundable"
            />
          </main>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FilterBlock from "@/components/FilterBlock";
import Flight from "@/components/Flight";

import searchResult from "@/data";

export default {
  name: "App",

  components: {
    FilterBlock,
    Flight
  },

  data: () => ({
    searchResult,

    rateOptions: [
      {
        id: 1,
        title: "Только прямые",
        value: 1
      },
      {
        id: 2,
        title: "Только с багажом",
        value: 2
      },
      {
        id: 3,
        title: "Только возвратные",
        value: 3
      }
    ],
    selectedRateOptions: [],

    selectedAirlines: []
  }),

  computed: {
    airlines() {
      return Object.keys(this.searchResult.airlines).map((code, idx) => ({
        id: idx,
        title: searchResult.airlines[code],
        value: code
      }));
    },

    filteredFlights() {
      return this.searchResult.flights.filter((flight) => {
        let inFilter = true;

        if (
          this.selectedRateOptions.includes(1) &&
          flight.itineraries[0][0].stops !== 0
        ) {
          // Прямой ли рейс
          inFilter = false;
        }

        if (
          this.selectedRateOptions.includes(3) &&
          !flight.itineraries[0][0].refundable
        ) {
          inFilter = false;
        }

        if (!this.selectedAirlines.includes(flight.validating_carrier)) {
          inFilter = false;
        }

        return inFilter;
      });
    }
  },

  methods: {
    clearFilters() {
      this.$refs.airlinesFliter.clearSelection();
      this.$refs.rateOptionsFliter.clearSelection();
    }
  }
};
</script>

<style lang="scss">
@import "./assets/style/main.scss";

body {
  background-color: $dark-350;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: $dark-0;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;

  &__aside {
    width: 240px;
    margin-right: 20px;
  }

  &__main {
    flex: 1;
  }
}

.aside {
  &__filter-block {
    margin-bottom: 12px;
  }
}

.main {
  &__flight {
    margin-bottom: 12px;
  }
}
</style>
