.button {
  display: block;
  border-radius: 4px;
  transition: 0.15s linear;
  outline: none;
  cursor: pointer;

  &--sm {
    padding: 3px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  &--md {
    padding: 7px 12.5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.5px;
  }

  &--green {
    color: $dark-0;
    background-color: $green-500;

    &:hover {
      background-color: $green-600;
    }
  }

  &--blue {
    color: $blue-500;
    background-color: $blue-200;

    &:hover {
      color: $dark-0;
      background-color: $blue-400;
    }
  }
}
