.label-checkbox {
  &--inline {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border: 1px solid $dark-500;
    background-color: $dark-0;
    border-radius: 2px;
    position: relative;

    &::after {
      content: "";
      display: none;
      position: absolute;
      left: calc(50% - 2px);
      top: calc(50% - 4px);
      width: 4px;
      height: 7px;
      border: solid $dark-500;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &__checkbox-input {
    display: none;

    &:checked {
      & ~ .label-checkbox__checkbox {
        border-color: $green-500;
        background-color: $green-500;
      }

      & ~ .label-checkbox__checkbox::after {
        display: block;
        border-color: $dark-0;
      }
    }
  }

  &:hover {
    background-color: $dark-300;

    .label-checkbox__checkbox::after {
      display: block;
    }
  }
}
