.tooltip {
  position: relative;
  display: inline-block;

  & .tooltiptext {
    visibility: hidden;
    width: 122px;
    background-color: $dark-0;
    border: 1px solid $dark-300;
    color: $dark-1000;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;

    position: absolute;
    bottom: calc(100% + 14px);
    left: calc(50% - 61px);
    z-index: 1;

    &::after {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background-color: $dark-0;
      position: absolute;
      top: calc(100% - 7px);
      left: calc(50% - 7px);
      transform: rotate(45deg);
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: $dark-300;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
